# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
.env.*
!.env.example
*.env

# Build Artifacts
dist/
*/dist/
dist-ssr/
*/dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
